<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">

  <Script file="Module.lua" />
  <Script file="Prototype.lua" />

  <Frame name="AuraFramesBarContainerTemplate" parent="UIParent" virtual="true" movable="true" />
  
  <Frame name="AuraFramesBarTemplate" virtual="true">
    <Frames>
      <Button name="$parentButton">
        <Size x="36" y="36"/>
        <Layers>
          <Layer level="BORDER">
            <Texture name="$parentIcon">
              <Size>
                <AbsDimension x="36" y="36"/>
              </Size>
            </Texture>
          </Layer>
          <Layer level="OVERLAY">
            <Texture name="$parentBorder" file="Interface\Buttons\UI-Debuff-Overlays" alphaMode="ADD">
              <Size>
                <AbsDimension x="36" y="36"/>
              </Size>
              <Anchors>
                <Anchor point="CENTER"/>
              </Anchors>
              <TexCoords left="0.296875" right="0.5703125" top="0" bottom="0.515625"/>
            </Texture>
          </Layer>
        </Layers>
        <Frames>
          <Cooldown name="$parentCooldown" level="BORDER" hidden="true">
            <Size x="36" y="36"/>
            <Anchors>
              <Anchor point="CENTER" />
            </Anchors>
          </Cooldown>
          <Frame frameStrata="BACKGROUND" name="$parentBackground">
            <Size x="36" y="36"/>
            <Anchors>
              <Anchor point="CENTER" />
            </Anchors>
          </Frame>
        </Frames>
      </Button>
      <Frame level="BACKGROUND" frameStrata="BACKGROUND" name="$parentBarBackground" />
      <Frame level="BORDER" name="$parentBar">
        <Layers>
          <Layer level="BACKGROUND">
            <Texture name="$parentTexture" />
          </Layer>
          <Layer level="ARTWORK">
            <Texture name="$parentSpark" file="Interface\CastingBar\UI-CastingBar-Spark" alphaMode="ADD">
              <Size>
                <AbsDimension x="36" y="100"/>
              </Size>
            </Texture>
          </Layer>
        </Layers>
      </Frame>
      <Frame>
        <Layers>
          <Layer level="OVERLAY">
            <FontString name="$parentText" nonspacewrap="true" wordwrap="false" />
            <FontString name="$parentDuration" hidden="true" />
          </Layer>
        </Layers>
      </Frame>
    </Frames>
  </Frame>

</Ui>