<Ui xmlns="http://www.blizzard.com/wow/ui/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.blizzard.com/wow/ui/
..\FrameXML\UI.xsd">

  <Script file="Module.lua" />
  <Script file="Prototype.lua" />

  <Frame name="AuraFramesBarContainerTemplate" parent="UIParent" frameStrata="LOW" toplevel="true" virtual="true" movable="true">
  </Frame>
  
  <Frame name="AuraFramesBarContainerConfigTemplate" frameStrata="MEDIUM" toplevel="true" virtual="true" enableMouse="true">
    <Scripts>
      <OnMouseDown>
        self:GetParent():StartMoving();
      </OnMouseDown>
      <OnMouseUp>
        self:GetParent():StopMovingOrSizing();
      </OnMouseUp>
    </Scripts>
    <Layers>
      <Layer level="ARTWORK">
        <Texture> 
          <Color r="0.5" g="0.8" b="1.0" a="0.6"/> 
        </Texture>
        <FontString name="$parent_Text" inherits="ChatFontNormal" text="" justifyV="MIDDLE" justifyH="CENTER">
        </FontString>
      </Layer>
    </Layers>
  </Frame>

  <Frame name="AuraFramesBarTemplate" drawLayer="BORDER" virtual="true" hidden="true">
    <Frames>
      <Button name="$parentButton">
        <Size x="24" y="24"/>
        <Layers>
          <Layer level="BACKGROUND">
            <Texture name="$parentIcon">
              <TexCoords left="0.07" right="0.93" top="0.07" bottom="0.93"/>
              <Size>
                <AbsDimension x="24" y="24"/>
              </Size>
            </Texture>
          </Layer>
          <Layer level="OVERLAY">
            <Texture name="$parentBorder" file="Interface\Buttons\UI-ActionButton-Border" alphaMode="ADD">
              <Size>
                <AbsDimension x="24" y="24"/>
              </Size>
              <Anchors>
                <Anchor point="CENTER">
                  <Offset>
                    <AbsDimension x="0" y="0"/>
                  </Offset>
                </Anchor>
              </Anchors>
              <TexCoords left="0.296875" right="0.5703125" top="0" bottom="0.515625"/>
            </Texture>
          </Layer>
        </Layers>
      </Button>
    </Frames>
    <Layers>
      <Layer level="BACKGROUND">
        <Texture name="$parentBackground" setAllPoints="true">
          <Color r="0.0" g="0.0" b="0.0" a="0.8"/>
          <Anchors>
            <Anchor point="TOPLEFT" relativeTo="$parent" relativePoint="TOPLEFT">
              <AbsDimension x="0" y="0"/>
            </Anchor>
            <Anchor point="BOTTOMRIGHT" relativeTo="$parent" relativePoint="BOTTOMRIGHT">
              <AbsDimension x="0" y="0"/>
            </Anchor>
          </Anchors>
        </Texture>
      </Layer>
      <Layer level="BORDER">
        <Texture name="$parentTexture" />
        <Texture name="$parentSpark" file="Interface\CastingBar\UI-CastingBar-Spark" alphaMode="ADD">
          <Size>
            <AbsDimension x="24" y="60"/>
          </Size>
        </Texture>
      </Layer>
      <Layer level="OVERLAY">
        <FontString name="$parentText" inherits="NumberFontNormal" justifyH="RIGHT" />
        <FontString name="$parentDuration" inherits="NumberFontNormal" hidden="true" />
      </Layer>
    </Layers>
  </Frame>

</Ui>